body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
#wrapper{
    padding: 20px;
    width: 800px;
    margin: 0 auto;
    border: black 1px solid;
}
#nav{
    text-align: right;
    margin: 20px;
    border-bottom: black 1px solid;
}
#nav a{
    padding: 20px;
}
#dacha{
    margin:0 15px;
    width: 150px;
    float: left;
}
h1, h2{
    margin: 20px;
    text-align: center;
}
.main-p{
    padding-bottom: 30px;
}
#rad{
    margin-top: 50px;
}
table{
    border-collapse: collapse;
}
th,td{
    width: 250px;
    text-align: center;
    border: black 1px solid;
    border-collapse: collapse;
}
footer{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-top: black 1px solid;
}