body{
    background: cornsilk;
}
table{
    width: 900px;
    margin: 0 auto;
}
th,td{
    text-align: left;
    float: left;
}
#title{
    font-size: 2em;
}
.links{
    width: 190px;
}
.acters{
    width: 180px;
    height: 230px; 
}
.movies{
    width: 100px;
    height: 180px;
}
.awarded{
    width: 340px;
}
.awarded a{
    float: left;
}
h3,p{
    margin: 0;
}
h3{
    margin-top: 50px;
}
